/*stylesheet*/

*{
	text-align: center;
	background-color: peachpuff;
}
.title{
	font-family: zapfino, signpainter, cursive;
	font-size: 35px;
	font-weight: bold;
	text-align: center;
}

.subtitle{
	font-family: zapfino,cursive;
	font-size: 20px;
	font-style: italic;
}

.recipe {
	border: none;
	border-radius: 8px;
	padding: 25px 35px;
}

.link {
	font-family: signpainter, cursive;
	font-size: 30px;
	font-style: normal;
	text-decoration-line: none;
}
.recipe:hover{
	color: powderblue;
	background-color: royalblue;
}
.link:hover{
	text-decoration-line: underline;
	color: powderblue;
	background-color: royalblue;
}
